<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Cache-Control" content="no-cache" />
	    <meta charset="UTF-8" />
	    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	    <title></title>
	    <link rel="stylesheet" href="../../docc/css/bootstrap.css">
		<link rel="stylesheet" href="../../docc/css/bootstrap-icons.min.css">
	    <link rel="stylesheet" href="../../docc/css/base.css">
		<link rel="stylesheet" href="../../docc/css/bom.css">
		<link rel="stylesheet" href="../../docc/css/logicFlow.css">
		<link rel="stylesheet" href="../../docc/css/extension.css">
	</head>
	<body class="margin-auto" ng-controller="flowController">
        <div class="container py-4 app-container" style="max-width: 99%;min-height: 700px;">
			<form name="addFlowSetForm" role="form">
				<div class="d-flex justify-content-between align-items-center">
					<div class="d-flex justify-content-around align-items-center">
						流程类型：
						<label style="margin-right: 10px;"><input type="radio" name="flowsetType" value="1"
								ng-model="addDim.flowsetType" />主流</label>
						<label><input type="radio" name="flowsetType" value="2" ng-model="addDim.flowsetType" />子流</label>
					</div>
					<div class="d-flex justify-content-start field-group">
						<input type="text" required ng-model="addDim.flowsetName" placeholder="请输入规则流名称">
					</div>
					<button type="button" class="btn btn-secondary" ng-click="back()">返回</button>
					<button type="button" class="btn btn-primary" ng-click="renderFlow()">整理流程图</button>
					<button ng-if="dim.isEdit" class="btn btn-primary" ng-click="saveFlow(addFlowSetForm)">保存流程图</button>
				</div>
			</form>
			<div class="d-flex justify-content-between align-items-center" style="margin-top: 10px;">
				规则流描述：
				<textarea ng-model="addDim.flowsetDesc" placeholder="请输入规则流描述" style="width: 90%;"></textarea>
			</div>
			<div class="d-flex justify-content-between align-items-center">
				<logic-flow graph-data="graphData" options="flowOptions" on-node-click="onNodeClick(node)" lf="lf" on-choose-child="onChooseChild(node)" on-choose-rule="onChooseRule(node,type)"
					on-edge-click="onEdgeClick(node)" style="display: flex;width: 100%; height: 600px; border: 1px solid grey;margin-top: 10px;">
				</logic-flow>
			</div>
			<div class="modal" id="appUpdateModal" tabindex="-1" style="display: none;">
				<div class="modal-dialog">
					<div class="modal-content" style="width: 600px;">
						<div class="modal-header">
						</div>
						<div class="modal-body">
							<div style="padding:5px;" class="panel panel-default">
								<div ng-if="ctrl.showRules">
									<div class="d-flex justify-content-between field-group" style="flex-direction: row;margin-bottom: 10px;">
										<input style="width: 70%;" type="text" ng-model="dim.filterName" placeholder="请输入目录或规则名称名称">
										<button type="button" class="btn-add-row" ng-click="filterRepository(dim.filterName)">
											<i class="fas fa-plus"></i>
											查找
										</button>
										<button type="button" class="btn btn-primary" ng-click="bindNode()">
											绑定节点
										</button>
									</div>
									<div style="max-height: 85%;min-height: 550px; border: 1px solid #dce1e9;">
										<tree-view ng-model="dim.selectedCatalogue" tree-data="treeData" label-key="label" check-box="true"
											ng-select="changeSelected(dim.selectedCatalogue)">
										</tree-view>
									</div>
								</div>
								
								<div ng-if="ctrl.showFlowsets">
									<div class="d-flex justify-content-end field-group" style="flex-direction: row;margin-bottom: 10px;">
										<button type="button" class="btn btn-primary"
											ng-click="bindNodeChild(dim.childIdRuleFlowsetInfo)">
											绑定节点
										</button>
									</div>
									<div style="max-height: 85%;min-height: 550px; border: 1px solid #dce1e9;padding: 5px;">
										<table>
											<tr ng-repeat="flowset in options.flowsets">
												<td>
													<div>
														<label>
															<input type="radio" name="flowsetRadio" ng-model="dim.childIdRuleFlowsetInfo"
																value="{{flowset.idRuleFlowsetInfo}}" />
															🔗{{flowset.flowsetName}}
														</label>
													</div>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-include="'../../docc/common/modal.html'"></div>
		<div ng-include="'../../docc/common/tips.html'"></div>
	</body>
	<script src="../../js/lib/bootstrap.bundle.js"></script>
	<script src="../../js/lib/underscore.js"></script>
	<script src="../../js/lib/angular1.8.3.min/angular.min.js"></script>
    <script src="../../js/lib/angular1.8.3.min/angular-sanitize.min.js"></script>
	<script src="../../js/lib/logicFlow/logicFlow.js"></script>
	<script src="../../js/lib/logicFlow/extension.js"></script>
	<script src="../../js/lib/logicFlow/layout-umd.js"></script>
	<script src="../../js/sea.js"></script>
	<script>
		seajs.use('../../js/ruleSetting/flowSetting');
	</script>
</html>
