<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Cache-Control" content="no-cache" />
	    <meta charset="UTF-8" />
	    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	    <title>规则引擎</title>
	    <link rel="stylesheet" href="./docc/css/bootstrap.css">
		<link rel="stylesheet" href="./docc/css/bootstrap-icons.min.css">
	    <link rel="stylesheet" href="./docc/css/base.css">
	</head>
	<body ng-controller="indexController" >
		<div class="d-flex justify-content-between align-items-center">
			<div style="flex:0 0 260px;" ng-include="'./docc/common/toolbar.html'"></div>
			<div style="flex:1;min-width: 0;overflow:hidden;height: 100%;">
				<div style="height: 50px;background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
							display: flex;align-items: center;justify-content: flex-end;">
					<!-- 2. 【预留扩展区】将来可在此插入任何内容，自动位于按钮和图片之间 -->
					<div class="middle-slot" style="display: flex; align-items: center; margin-right: 10px;">
						<!-- 未来可追加的内容，例如：<span>新增标签</span> -->
					</div>

					<div style="position: relative;">
						<img src="./docc/img/rule.png" style="width: 50px;height: auto; display: block;cursor: pointer;" ng-click="ctrl.showLogout = !ctrl.showLogout">
						<!-- 退出按钮：绝对定位在图片下方，不影响布局与 iframe -->
						<button type="button"
								class="btn btn-sm btn-danger"
								ng-show="ctrl.showLogout"
								ng-click="logout()"
								style="position: absolute; top: 100%; right: 0; margin-top: 6px; z-index: 100; white-space: nowrap;">
							<i class="bi bi-box-arrow-right"></i> 退出
						</button>
					</div>
				</div>
				<iframe id="contantFrame" name="contantFrame" src="" frameborder="0" width="100%" height="90%"></iframe>
			</div>
		</div>
		<div ng-include="'./docc/common/modal.html'"></div>
		<div ng-include="'./docc/common/tips.html'"></div>
	</body>

	<script src="./js/lib/bootstrap.bundle.js"></script>
	<script src="./js/lib/underscore.js"></script>
	<script src="./js/lib/angular1.8.3.min/angular.min.js"></script>
	<script src="./js/sea.js"></script>
	<script>
		seajs.use('./js/index');
	</script>
</html>
